html{
  font-family: Brawler, monospace;
  font-size: 10vh;
}
ul{
  margin-top: 0;
  display:inline-block;
  max-width: 700px;
  line-height: 2;
  text-align:left;
}
li{
  font-size: 2vh;
}

h2{
  font-size: 3vh;
}
p{
  font-size: 2vh;
}


/* Main Id settings */
#main{
  font-size: 3vh;
  width: 100%;
  background: white;
  display:relative;
  text-align: center;
}

#title{
  margin-bottom: 0;
  background-color: lightgray;
}
#tribute-link{
  font-size: 2vh;
}

#shortnote{
  margin-top: 0;
  background-color: lightgray;
}

#img-div{}
#image{
  display: block;
  height:auto;
  max-width:100%;
  margin: 0 auto;
}
#tribute-info{
  font-weight: bold;
  background-color:lightgray;
}
